h1, h2 {
  text-align: left;
}

.cover-heading {
  font-size: 3.5em;
  font-family: 'Fjalla One', sans-serif;
  padding-top: 3.5em;
}

.cover-subtitle {
  font-size: 2em;
  padding-top: 0.5em;
}

h2 {
  font-size: 2em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.table {
  color: rgba(0, 0, 0);
}

.flag {
  margin-right: 8px;
  margin-left: 8px;
}

.flag:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 19px 0px rgba(255, 255, 255, 0.77);
  }


.bio {
  text-align: justify;
  padding-bottom: 5em;
}

.footer {
  position: fixed;
  left: 0em;
  bottom: 1.25em;
  width: 100%;

}

.table {
  margin-bottom: 3em;
}

/* New css added from template */


<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); old box-shadow*/
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover{
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
